@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Secular+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: #3e3754;
}

.header {
    width: 100%;
    background-color: #3e3754;
    height: 80px;
}
.nav-item {
  list-style: none;
  text-align: center;
  font-family: 'Secular One', sans-serif;
}

nav ul li {
display: inline-block;
padding: 30px;
}
li a {
    color: #fff;
    text-decoration: none;
}
 nav ul li a:hover {
    color: #cfd15e;
}
.content {
padding: 40px;
background-color: #556b2f;
}
.about-me{
    padding: 70px;
    text-align: center;
}
.about-me h2 {
    font-family: 'Secular One', sans-serif;
    color: #fff;  
    padding: 0 20px; 
}
h2 {
    margin: 12px;
}
.about-me p {
font-weight: 400;
font-family: 'Patua One', cursive;
color: #fff;
}

.hobby {
    text-align: center;
    top: 800px;
    padding: 50px;
}
.hobby h2 {
    font-family: 'Secular One', sans-serif;
    color: #fff;   
}
.hobby p {
    font-family: 'Patua One', cursive;
    color: #fff;
    font-size: 14px;

}
.container {
    display: flex;
    justify-content: center;
}
.card {
    background: #3e3754;
    width: 270px;
    height: 350px;
    margin: 20px;
    border-radius: 10px;
}
.images-card {
    background-color: #fff;
    height: 180px;
    margin-bottom: 30px;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
.card-1 {
    background-image: url(../img/jokes-uncomfortable.gif);
}
.card-2 {
    background-image: url(../img/maps.jpeg);
}
.card h4 {
    color: rgb(252, 252, 252);
    font-family: 'Secular One', sans-serif;
}
.card p {
    color: rgb(255, 255, 255);
    font-family: 'Patua One', cursive;
}
.gallery-art {
    text-align: center;
    padding: 50px;
background-color: #556b2f;
}
.gallery-art h2 {
    font-family: 'Secular One', sans-serif;
    color: #fff;
}
.gallery-art p {
    color: #fff;
    font-size: 16px;
    font-family: 'Patua One', cursive;
}
.container-img {
    background-color: #556b2f;
}
figure {
    text-align: center;
}
figure img {
    margin: 10px;
    border-radius: 20px;
}
#contact {
    color: #fff;
    font-family: 'Secular One', sans-serif;
}
.footer-social-icons {
    background-color:  #3e3754;
    padding: 70px;
    text-align: center;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #3f729b;
}
.fa-whatsapp {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-whatsapp:hover {
    background-color: #4fce5d;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #c4302b;
}

.fa-github-alt {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github-alt:hover {
    background-color: #5a32a3;
}
.fa-spotify {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-spotify:hover {
    background-color: #81b71a;
} 
.container-form {
    background-color: #3e3754;
    border-top: 3px solid #fff;
}
.main {
    position: absolute;
    border-radius: 5px;
    margin-left: 470px;
    margin-top: 100px;
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #3e3754;
  }
  
  .main h2 {
    margin: 0 40px;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Secular One', sans-serif;
  }
  
  .main input {
    padding: 10px 0;
    margin-bottom: 30px;
  }
  
  .message textarea {
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
  }
  
  .main input,
  .message textarea {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(163, 163, 163);
  }
  
  .message textarea {
    margin-bottom: 20px;
  }
  
  .submit [type="submit"] {
    border-bottom: none;
    cursor: pointer;
    background: #cfd15e;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
    color: #fff;
  }
  
  .main form div {
    position: relative;
  }
  
  .submit [type="submit"]:hover {
    background: #cfd15e;
    color: #3e3754;
  }
